@media(max-width: 500px) {

  .nav-center{
    display: none;
  }
  
  .sticky{
    padding-top: 30px;
  
  }
  
  nav img{
    width: 12%;
    transform: translate(0px, -30px);
  }
  
  nav span{
    font-size: 50px;
    transform: translate(0px, -30px);
  }

  .menu-wrap  {
    margin-left: 320px;
    display: block;
  }

  h1{
    /* text-align: center; */
    margin-top: 100px;
    margin-left: 100px;
  }